@{
    var CurrentAccount = SessionHelper.Account();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Management">
    <meta name="author" content="GAMASIS">
    <title>

        Project Management - @Page.Title
    </title>
    <link rel="icon" href="@Url.Content("~/Content/Logos/icon.ico")">
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/Components/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Components/sbadmin/css/sb-admin-2.min.css?v="+ DateTime.Now.ToString("yyyyMMddHHmmss"))" rel="stylesheet">
    <script src="@Url.Content("~/Components/jQuery/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Components/Dialog/Dialog.js")"></script>
    @RenderSection("Header", required: false)
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Content("~/")">
                <div class="sidebar-brand-icon">
                    @*<i class="fas fa-laugh-wink"></i>*@
                    <img style="width:80px; height:75px;" class="img img-circle" src="@Url.Content("~/Content/Logos/GamasisWingWhite.png")" />
                </div>
                <div class="sidebar-brand-text mx-2">Management</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Content("~/")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            @*<li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
                       aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Utilities</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Utilities:</h6>
                            <a class="collapse-item" href="utilities-color.html">Colors</a>
                            <a class="collapse-item" href="utilities-border.html">Borders</a>
                            <a class="collapse-item" href="utilities-animation.html">Animations</a>
                            <a class="collapse-item" href="utilities-other.html">Other</a>
                        </div>
                    </div>
                </li>*@
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            @if (CurrentAccount.rol != 2 || CurrentAccount.hasAccessToModule("Incident"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Incident")">
                        <i class="fas fa-fw fa-exclamation-circle"></i>
                        <span>Incidencias</span>
                    </a>
                </li>
            }
            @if (CurrentAccount.rol != 2 || CurrentAccount.hasAccessToModule("Requirement"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Requirement")">
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Requerimientos</span>
                    </a>
                </li>
            }
            @if (CurrentAccount.rol != 2 || CurrentAccount.hasAccessToModule("Users"))
            {
                <hr class="sidebar-divider d-none d-md-block">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Users")">
                        <i class="fas fa-fw fa-user-alt"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Distribution", "Users")">
                        <i class="fas fa-fw fa-bell"></i>
                        <span>Distribuciones</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->

                    @RenderSection("topbarsearch", required: false)


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        @RenderSection("notlist", required: false)
                        <!-- Nav Item - Messages -->
                        @*<li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <!-- Counter - Messages -->
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">
                                                Hi there! I am wondering if you can help me with a problem I've been
                                                having.
                                            </div>
                                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">
                                                I have the photos that you ordered last month, how would you like them
                                                sent to you?
                                            </div>
                                            <div class="small text-gray-500">Jae Chun · 1d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                            <div class="status-indicator bg-warning"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">
                                                Last month's report looks great, I am very happy with the progress so
                                                far, keep up the good work!
                                            </div>
                                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">
                                                Am I a good boy? The reason I ask is because someone told me that people
                                                say this to all dogs, even if they aren't good...
                                            </div>
                                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                </div>
                            </li>*@
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(CurrentAccount.data.name + CurrentAccount.data.lastname )</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi perfil
                                </a>
                                @*<a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Configuraciones
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Registro de actividades
                                    </a>*@
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item" onclick="sys.evts.logout()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <strong>Copyright &copy; @DateTime.Now.Year <a href="http://gamasis.com.mx/">GAMASIS S.A de C.V</a>.</strong> All rights
                        reserved.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    <script src="@Url.Content("~/Components/jquery/jquery.min.js")"></script>
    @*<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="@Url.Content("~/Components/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/Components/jquery-easing/jquery.easing.min.js")"></script>
    <!-- Custom scripts for all pages-->
    <script src="@Url.Content("~/Components/sbadmin/js/sb-admin-2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sys.js?v="+ DateTime.Now.ToString("yyyyMMddHHmmss"))"></script>
    <script>
        var Root = "@Url.Content("~/")";
        $("#sidebarToggle").click();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
